/index.php
application/config/config.php
application/config/database.php
asset/icon/ess.png
.htaccess
application/controllers/login_dev.php
application/views/login_dev.php
application/models/login_dev.php
ess_2022-06-07-12-25.sql

#Mozes Tambah
uploads/*

cronjob/proses_surrounding/simbah_windows/mnt_simbah/*.txt
cronjob/proses_surrounding/webcovid_windows/mnt_webcovid/*.txt
cronjob/*.txt

cronjob/*sppd*
cronjob/**/*sppd*

file/kehadiran2/*.jpg
file/kehadiran2/*.JPG
file/kehadiran2/*.jpeg
file/kehadiran2/*.JPEG
file/kehadiran2/*.png
file/kehadiran2/*.PNG
file/kehadiran3/*.jpg
file/kehadiran3/*.jpeg
file/kehadiran3/*.JPG
file/kehadiran3/*.png
file/kehadiran3/*.PNG
file/pph21/*.pdf
file/pph21/*.ink
file/pph21_coba/*.pdf  
file/skep/*.pdf
file/skep_import/*.pdf
file/template/*.xlsx

foto/biodata/*.jpg
foto/profile/*.jpg
foto/temp/*.jpg

inbound_sap/inbound_absence_attendance/*.txt
inbound_sap/inbound_absence_attendance_BKP/*.txt
inbound_sap/inbound_absence_cuti/*.txt
inbound_sap/inbound_absence_cuti_BKP/*.txt
inbound_sap/inbound_cico/*.txt
inbound_sap/inbound_cico_BKP/*.txt
inbound_sap/inbound_overtime/*.txt
inbound_sap/inbound_overtime_BKP/*.txt
inbound_sap/inbound_substitution/*.txt
inbound_sap/inbound_substitution_BKP/*.txt

input_pph21/link_pph21/*
input_pph21/pph21/*.pdf
input_pph21/pph21/*.PDF
input_pph21/pph21_running_1/*.pdf
input_pph21/pph21_running_1/*.PDF
input_pph21/s2x0a2D1/*.pdf
input_pph21/s2x0a2D1/*.PDF
input_pph21_old/*

outbound_dwh/dwh_hr_reimburs/*.csv
outbound_dwh/dwh_hr_reimburs_BKP/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_biaya_kesehatan/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_biaya_kesehatan_/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_biaya_kesehatan_BKP/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_data_karyawan/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_data_karyawan_BKP/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_donor_darah/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_donor_darah_BKP/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_klaimkacamata/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_klaimkacamata_BKP/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_tanggungan_karyawan/*.csv
outbound_dwh/sikesper/dwh_hr_hcm_tanggungan_karyawan_BKP/*.csv

outbound_ess/jabatan/*.txt
outbound_ess/karyawan/*.txt
outbound_ess/satuan_kerja/*.txt
outbound_ess/mst_cuti_bersama/*.txt
outbound_ess/mst_hari_libur/*.txt
outbound_ess/mst_jadwal_kerja/*.txt
outbound_ess/mst_karyawan/*.txt
outbound_ess/ess_sto/*.txt


outbound_pamlek/*.tk
outbound_pamlek/Custom/*.tk
outbound_portal/sppd/*.txt
outbound_portal/sppd_LNDN/*.txt

outbound_sap/AbsenceQuota/*.txt
outbound_sap/Approver/*.txt
outbound_sap/E_PAYSLIP/*.txt
outbound_sap/E_PAYSLIP_asli/*.txt
outbound_sap/MasterData/*.txt
outbound_sap/MasterData_BKP/*.txt
outbound_sap/MasterSTO/*.txt

uploads/bypass_karyawan/*.xlsx
uploads/bypass_karyawan/*.xlx
uploads/bypass_organisasi/*.xlsx
uploads/bypass_organisasi/*.xlx
uploads/evidence_penindakan/*.pdf
uploads/evidence_penindakan/*.jpg

uploads/faskar/internet/*.xlsx
uploads/faskar/listrik/*.xlsx
uploads/faskar/pam/*.xlsx
uploads/faskar/ponsel/*.xlsx
uploads/faskar/tv/*.xlsx

uploads/images/sikesper/agenda/*.xlsx
uploads/images/sikesper/agenda/*.jpg
uploads/images/sikesper/agenda/*.PNG
uploads/images/sikesper/agenda/*.JPG
uploads/images/sikesper/agenda/*.png
uploads/images/sikesper/agenda/*.JPEG
uploads/images/sikesper/agenda/*.jpeg

uploads/images/sikesper/provider/*.xlsx
uploads/images/sikesper/provider/*.jpg
uploads/images/sikesper/provider/*.PNG
uploads/images/sikesper/provider/*.JPG
uploads/images/sikesper/provider/*.png

uploads/images/sikesper/reimburse/*.xlsx
uploads/images/sikesper/reimburse/*.jpg
uploads/images/sikesper/reimburse/*.PNG
uploads/images/sikesper/reimburse/*.JPG
uploads/images/sikesper/reimburse/*.png

uploads/link_skepi/*.xlsx
uploads/link_skepi/*.jpg
uploads/link_skepi/*.PNG
uploads/link_skepi/*.JPG
uploads/link_skepi/*.png

uploads/mcu_import/*.xlsx
uploads/obat_import/*.xlsx
uploads/outsourcing/*.xlsx

uploads/pelaporan/anak_tertanggung/akta_kelahiran/*.pdf
uploads/pelaporan/anak_tertanggung/akta_kelahiran/*.jpg
uploads/pelaporan/anak_tertanggung/akta_kelahiran/*.JPG
uploads/pelaporan/anak_tertanggung/akta_kelahiran/*.PNG
uploads/pelaporan/anak_tertanggung/akta_kelahiran/*.png
uploads/pelaporan/anak_tertanggung/kk/*.pdf
uploads/pelaporan/anak_tertanggung/kk/*.jpg
uploads/pelaporan/anak_tertanggung/kk/*.JPG
uploads/pelaporan/anak_tertanggung/kk/*.PNG
uploads/pelaporan/anak_tertanggung/kk/*.png
uploads/pelaporan/anak_tertanggung/surat_keterangan/*.pdf
uploads/pelaporan/anak_tertanggung/surat_keterangan/*.jpg
uploads/pelaporan/anak_tertanggung/surat_keterangan/*.JPG
uploads/pelaporan/anak_tertanggung/surat_keterangan/*.PNG
uploads/pelaporan/anak_tertanggung/surat_keterangan/*.png

uploads/pelaporan/anak_usia/*.pdf
uploads/pelaporan/anak_usia/dok_keterangan_sekolah/*.pdf
uploads/pelaporan/anak_usia/dok_keterangan_sekolah/*.jpg
uploads/pelaporan/anak_usia/dok_keterangan_sekolah/*.jpeg
uploads/pelaporan/anak_usia/dok_keterangan_sekolah/*.JPG
uploads/pelaporan/anak_usia/dok_keterangan_sekolah/*.PNG
uploads/pelaporan/anak_usia/dok_keterangan_sekolah/*.png
uploads/pelaporan/anak_usia/dok_pernyataan/*.pdf
uploads/pelaporan/anak_usia/dok_pernyataan/*.jpg
uploads/pelaporan/anak_usia/dok_pernyataan/*.jpeg
uploads/pelaporan/anak_usia/dok_pernyataan/*.JPG
uploads/pelaporan/anak_usia/dok_pernyataan/*.PNG
uploads/pelaporan/anak_usia/dok_pernyataan/*.png

uploads/pelaporan/kelahiran_anak/akta_kelahiran/*.pdf
uploads/pelaporan/kelahiran_anak/akta_kelahiran/*.jpg
uploads/pelaporan/kelahiran_anak/akta_kelahiran/*.JPG
uploads/pelaporan/kelahiran_anak/akta_kelahiran/*.PNG
uploads/pelaporan/kelahiran_anak/akta_kelahiran/*.png
uploads/pelaporan/kelahiran_anak/dokumen_lain/*.pdf
uploads/pelaporan/kelahiran_anak/dokumen_lain/*.jpg
uploads/pelaporan/kelahiran_anak/dokumen_lain/*.JPG
uploads/pelaporan/kelahiran_anak/dokumen_lain/*.PNG
uploads/pelaporan/kelahiran_anak/dokumen_lain/*.png

uploads/pelaporan/pendidikan/ijazah/*.pdf
uploads/pelaporan/pendidikan/transkrip/*.pdf

uploads/pelaporan/perceraian/keterangan_hak_asuh/*.pdf
uploads/pelaporan/perceraian/keterangan_hak_asuh/*.jpg
uploads/pelaporan/perceraian/keterangan_hak_asuh/*.JPG
uploads/pelaporan/perceraian/keterangan_hak_asuh/*.PNG
uploads/pelaporan/perceraian/keterangan_hak_asuh/*.png
uploads/pelaporan/perceraian/putusan_pengadilan/*.pdf
uploads/pelaporan/perceraian/putusan_pengadilan/*.jpg
uploads/pelaporan/perceraian/putusan_pengadilan/*.JPG
uploads/pelaporan/perceraian/putusan_pengadilan/*.PNG
uploads/pelaporan/perceraian/putusan_pengadilan/*.png
uploads/pelaporan/perceraian/surat_cerai/*.pdf
uploads/pelaporan/perceraian/surat_cerai/*.jpg
uploads/pelaporan/perceraian/surat_cerai/*.JPG
uploads/pelaporan/perceraian/surat_cerai/*.PNG
uploads/pelaporan/perceraian/surat_cerai/*.png

uploads/pelaporan/pernikahan/dokumen_lain/*.pdf
uploads/pelaporan/pernikahan/dokumen_lain/*.jpg
uploads/pelaporan/pernikahan/dokumen_lain/*.jpeg
uploads/pelaporan/pernikahan/dokumen_lain/*.JPG
uploads/pelaporan/pernikahan/dokumen_lain/*.PNG
uploads/pelaporan/pernikahan/dokumen_lain/*.png
uploads/pelaporan/pernikahan/ktp/*.pdf
uploads/pelaporan/pernikahan/ktp/*.jpg
uploads/pelaporan/pernikahan/ktp/*.JPG
uploads/pelaporan/pernikahan/ktp/*.PNG
uploads/pelaporan/pernikahan/ktp/*.png
uploads/pelaporan/pernikahan/pas_foto/*.pdf
uploads/pelaporan/pernikahan/pas_foto/*.jpg
uploads/pelaporan/pernikahan/pas_foto/*.JPG
uploads/pelaporan/pernikahan/pas_foto/*.PNG
uploads/pelaporan/pernikahan/pas_foto/*.png
uploads/pelaporan/pernikahan/surat_keterangan_nikah/*.pdf
uploads/pelaporan/pernikahan/surat_keterangan_nikah/*.jpg
uploads/pelaporan/pernikahan/surat_keterangan_nikah/*.JPG
uploads/pelaporan/pernikahan/surat_keterangan_nikah/*.PNG
uploads/pelaporan/pernikahan/surat_keterangan_nikah/*.png

uploads/pelaporan/pindah_agama/surat_keterangan/*.pdf
uploads/pelaporan/pindah_agama/surat_keterangan/*.jpg
uploads/pelaporan/pindah_agama/surat_keterangan/*.JPG
uploads/pelaporan/pindah_agama/surat_keterangan/*.PNG
uploads/pelaporan/pindah_agama/surat_keterangan/*.png

uploads/pelaporan/pindah_alamat/ktp/*.pdf
uploads/pelaporan/pindah_alamat/ktp/*.jpg
uploads/pelaporan/pindah_alamat/ktp/*.JPG
uploads/pelaporan/pindah_alamat/ktp/*.PNG
uploads/pelaporan/pindah_alamat/ktp/*.png

uploads/pelaporan/suami_tertanggung/surat_keterangan/*.pdf
uploads/pelaporan/suami_tertanggung/surat_keterangan/*.jpg
uploads/pelaporan/suami_tertanggung/surat_keterangan/*.JPG
uploads/pelaporan/suami_tertanggung/surat_keterangan/*.PNG
uploads/pelaporan/suami_tertanggung/surat_keterangan/*.png

uploads/pelaporan/laporan_bukti_lapor_pajak/**/*.pdf
uploads/pelaporan/laporan_bukti_lapor_pajak/**/*.jpg
uploads/pelaporan/laporan_bukti_lapor_pajak/**/*.JPG
uploads/pelaporan/laporan_bukti_lapor_pajak/**/*.PNG
uploads/pelaporan/laporan_bukti_lapor_pajak/**/*.png

uploads/poh/*.xlsx

uploads/rekap/konsumsi/invoice/*.pdf
uploads/rekap/transportasi/*.xlsx

uploads/sikesper/provider/*.xlsx

uploads/skep_import/*.xlsx
uploads/skep_individu/*.pdf
uploads/skep_umum/*.pdf
uploads/tasklist/*
uploads/spbe/*

uploads/images/gambar_dinamis/*.xlsx
uploads/images/gambar_dinamis/*.jpg
uploads/images/gambar_dinamis/*.PNG
uploads/images/gambar_dinamis/*.JPG
uploads/images/gambar_dinamis/*.png
uploads/images/gambar_dinamis/*.JPEG
uploads/images/gambar_dinamis/*.jpeg

uploads/images/popup/*.xlsx
uploads/images/popup/*.jpg
uploads/images/popup/*.PNG
uploads/images/popup/*.JPG
uploads/images/popup/*.png
uploads/images/popup/*.JPEG
uploads/images/popup/*.jpeg

uploads/images/survey/*.xlsx
uploads/images/survey/*.jpg
uploads/images/survey/*.PNG
uploads/images/survey/*.JPG
uploads/images/survey/*.png
uploads/images/survey/*.JPEG
uploads/images/survey/*.jpeg

uploads/images/poin_reward/*.xlsx
uploads/images/poin_reward/*.jpg
uploads/images/poin_reward/*.PNG
uploads/images/poin_reward/*.JPG
uploads/images/poin_reward/*.png
uploads/images/poin_reward/*.JPEG
uploads/images/poin_reward/*.jpeg

uploads/images/daily_quest/*.xlsx
uploads/images/daily_quest/*.jpg
uploads/images/daily_quest/*.PNG
uploads/images/daily_quest/*.JPG
uploads/images/daily_quest/*.png
uploads/images/daily_quest/*.JPEG
uploads/images/daily_quest/*.jpeg

















uploads/isoman/dailycheck/*.jpg
uploads/isoman/dailycheck/*.JPG
uploads/isoman/dailycheck/*.PNG
uploads/isoman/dailycheck/*.png
uploads/isoman/keloladata/*.jpg
uploads/isoman/keloladata/*.JPG
uploads/isoman/keloladata/*.PNG
uploads/isoman/keloladata/*.png
uploads/isoman/teleclinic/*.jpg
uploads/isoman/teleclinic/*.JPG
uploads/isoman/teleclinic/*.PNG
uploads/isoman/teleclinic/*.png


uploads/pph21/*.pdf
uploads/pph21_get/*.pdf
uploads/pph21_old/*.pdf

outbound_pamlek_fr/*.tk



outbound_dss/*.txt

testing_kt/testing_tk/*.tk

testing_tk/*.tk

.vscode

# Created by https://www.toptal.com/developers/gitignore/api/linux,codeigniter
# Edit at https://www.toptal.com/developers/gitignore?templates=linux,codeigniter

### CodeIgniter ###
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
/tmp

### CodeIgniter Patch ###

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# End of https://www.toptal.com/developers/gitignore/api/linux,codeigniter
